<h3> Editing <%= link_to @user.username, @user %> </h3>
<%= link_to ' < Back', users_path %>

<%= form_for :user, url: user_path(@user), method: :patch do |f| %>
  
  <br>
  <p>
    <%= f.label :username, "RCS ID" %>
    <%= f.text_field :username, value: @user.username%>
  </p>
  <p>
    <%= f.label :real_name %>
    <%= f.text_field :real_name, value: @user.real_name %>
  </p>
  <p> 
    <%= f.label :year %>
    <%= f.select :year, User::YEARS, value: @user.year %>
  </p>
  <p>
    <%= f.submit :class => "btn btn-primary btn-lg" %>
  </p>
<% end %>

