<h4> New User </h4>

<%= form_for :user, url: user_path(@user) do |f| %>
  <p>
    <%= f.label :username, "RCS ID" %>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :real_name %>
    <%= f.text_field :real_name %>
  </p>
  <p>
    <%= f.label :is_admin %>
    <%= f.check_box :is_admin, :class => 'checkbox', checked_value: 1, unchecked_value: 0 %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
