<!-- User Logged in-->
<% if can_edit? %>
<div class="row">

<!-- Account Details Panel -->
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Account Details for <%= if @user.real_name then @user.real_name else @user.username end %> </h3>
      </div>
      <div class="panel-body">
        <div class="profile-pic">
          <%= image_tag avatar_url(@user), :class => 'img-responsive' %> 
        </div>
        <br /> <br />
        <p> RCS ID: <%= @user.username %> </p>
        <p> Name: <%= @user.real_name %> </p>
        <p> Email: <%= @user.email %> </p>
        <p> Year: <%= @user.year %> </p>
        <%= link_to "Edit Details", edit_user_path(@user), :class => "btn btn-primary btn-sm" %>
        <hr />
        <p> Last Updated: <%= @user.updated_at.to_date %> </p>
        <p> Created: <%= @user.created_at.to_date %> </p>
        <hr>
      </div>
    </div>
  </div>

<!-- Registered Courses Panel -->
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-right">
          <%= link_to "+ Add Classes", new_user_registration_path(user_id: params[:id]), :class => "btn btn-primary btn-xs" %>
          <%= link_to "- Remove Classes", user_registrations_path(user_id: params[:id]), :class => "btn btn-xs" %>
        </div>
        <h3 class="panel-title">Your Classes</h3>
      </div>
      <div class="panel-body">
        <ul class="unstyled nav">
        <% @classes.each do |aclass| %>
          <li class="course-link">
            <%= link_to aclass.course.title + " - " + Course.find(aclass.course_id).abrev_name + " " + aclass.course.level, aclass.course %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>

</div>

<% else %>
<!-- User not logged in -->
<div class="row">
  <!-- Account Details Panel -->
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <div class="profile-pic">
            <%= image_tag avatar_url(@user), :class => 'img-responsive' %> 
          </div> <br />
          <div style="font-size: 36px;"><%= if @user.real_name then @user.real_name else @user.username end %></div>
        </h3>
      </div>
      <div class="panel-body">
        <p> Email: <%= @user.email %> </p>
        <p> Year: <%= @user.year %> </p>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"> Classes </h3>
      </div>
        <ul class="unstyled nav">
        <% @classes.each do |aclass| %>
          <li class="course-link">
            <%= link_to aclass.course.title + " - " +  Course.find(aclass.course_id).abrev_name + " " + aclass.course.level, aclass.course %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% end %>