<%= form_for :new_course_registrations, :url => user_registrations_path do |f| %>
<%= f.submit "Save", :class => 'btn btn-primary btn-sm'%><br><br>
<div class="panel-group" id="accordion">
  <% @departments.each do |dept| %>
  <div class="panel panel-default">
    <div class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= dept %>">
        <%= dept %>
      </a>
    </div>
    <div id="collapse<%= dept %>" class="panel-collapse collapse">
      <div class="panel-body">
        <% @courses.select { |c| c.abrev_name == dept }.each do |course| %>
          <div class="checkbox"><%= f.check_box :registrations, {multiple: true}, course.crn, nil %> <%= course.title %> 
            <br> <%= " section: " + course.section %><%= " level: " + course.level %><%= " crn: " + course.crn %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>

      
