<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <%= image_tag "rpi_logo.svg" %>
        </div>
        <div class="col-md-8">
          <% if !signed_in? %>
            <h3> It's easy to connect with your classmates! </h3>
            <p> Just use your RCS ID! </p>
            <%= link_to "Begin", sign_in_path, :class => "btn btn-primary" %>
          <% else %>
            <div class="col-md-12">
              <h3> You're signed in as <%= get_signedin_name %> </h3>
              <!-- Activity Feed -->
                <hr />
                <h3 class="panel-title"> Posts in Your Network </h3>
                <br />
                <div class="container">
                  <div class="row">
                    <% @posts.each do |rPost| %>
                      <%= render partial: 'posts/post_tile', locals: { post: rPost, course_id: rPost.course_id, post_id: rPost.id } %>
                    <% end %>
                  </div>
                </div>
                <hr />
                <h3 class="panel-title"> Replies in Your Network </h3>
                <br />
                <div class="container">
                  <div class="row">
                    <% @replies.each do |rReply| %>
                      <%= rReply.body %><br />
                    <% end %>
                  </div>
                </div>
                <br />
                <hr />
                <h3 class="panel-title"> Recent Document Uploads </h3>
                <br />
                <div class="container">
                  <div class="row">

                  </div>
                </div>
                <h3 class="panel-title"> New Connections </h3>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
