<div class="jumbotron">
  <h2> <%= @connections.length %> Connections in <%= @course.title.downcase.capitalize %></h2>
  <hr />
  <div class="row">
    <% if @connections.empty? %> 
      <p> No Connections Found : ( </p>
    <% else %>
      <% @connections.each do |user| %>
        <div class="col-sm-2">
          <div class="thumbnail">
            <%= image_tag avatar_url(user), :class => 'img-responsive', width: '140px', height: '140px' %>
            <div class="caption">
              <h3>
                <% if not user.real_name.empty? %>
                  <%= link_to user.real_name, user %>
                <% else %>
                  <%= link_to user.username, user %>
                <% end %>
              </h3>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>