<h4> New Course </h4>

<%= form_for :course, url: course_path(@course) do |f| %>
  <p>
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %>
  </p>
  <p> 
    <%= f.label :abrev_name, "Department Abreviation" %>
    <%= f.text_field :abrev_name %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>