<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @course.abrev_name + " - " + @course.title %></h3>
    <h5><%= "Level: " + @course.level %> | 
        <%= "Section: " + @course.section %> |
        <%= "CRN: " + @course.crn %></h5>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Students</h3>
  </div>
  <div class="panel-body">
    <% if @users.length > 0 %>
      <ul class="unstyled inline">
      <% @users.each do |user| %>
        <% if user.id == get_signedin_id %>
          <li><%= link_to "You", user %></li>
        <% else %>
          <li><%= link_to user.real_name, user %></li>
        <% end %>
      <% end %>
      </ul>
    <% else %>
      <p>No Connections Found :( </p>
    <% end %>
  </div>
</div>