<%= link_to '<< Back to course', course_path(@course), :class => 'btn btn-xs' %><br /> <br />
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">New post for <%= @course.title %></h3>
  </div>
  <div class="panel-body">
  <%= form_for :new_course_posts, :url => course_posts_path do |f| %>  
    <p>
      <%= f.label :title %>
    </p>
    <p>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label 'Message' %>
    </p>
    <p>
      <%= f.text_area :body, cols: 50, rows: 7 %>
    </p>
    <p>
      <%= f.submit :class => 'btn btn-primary'%><br><br>
    </p>
  </div>
  <% end %>
  </div>
</div>

