<%= link_to '<< Back to Course', course_path(params[:course_id]), class: 'btn btn-primary btn-xs' %>
<br /><br />
<div class="jumbotron">
  <div class='pull-right'>
    <p> 
      <% user = User.find(@post.user_id) %>
      <% if not user.real_name.empty? %>
        <%= link_to user.real_name, user_path(user) %>
      <% else %>
        <%= link_to user.username, user_path(user) %>
      <% end %>
       posted on
      <%= @post.created_at.to_date %>
    </p>
  </div>
  <h3><b><%= @post.title %></b></h3>
  <p><%= @post.body %></p>
</div>
<div style="float: right">
  <%= link_to '+ Reply', new_course_post_reply_path(post_id: @post.id), class: 'btn btn-primary btn-xs' %>
</div>
<br /><br />
<% @replies.each do |reply| %>
  <%= render partial: "replies/reply_tile", locals: { reply: reply, course_id: params[:course_id], post_id: @post.id } %>
<% end %>

<% if user.id == get_signedin_id %>
  <% link_to 'edit', '#' %>
<% end %>